@model AccomplishmentViewModel

<div class="container">
    <div>
        <hr />
    </div>
    <h1>Edit</h1>
    <form asp-action="AccomplishmentEdit" asp-controller="Accomplishment" asp-route-id="@Model.Id">
        <div>
            <input asp-for="Id" type="hidden" />
        </div>
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="DateOfAccomplishment"></label>
            <input asp-for="DateOfAccomplishment" class="form-control" />
            <span asp-validation-for="DateOfAccomplishment" class="alert-danger"></span>
        </div>
        
        <a class="btn btn-primary" asp-action="Detail" asp-controller="Accomplishment">Cancel >></a>
        <button type="submit" class="btn btn-success">Update</button>
    </form>
</div>
